# Ignore example code and cached files
/pi_car/.SampleCode
/pi_car/__pycache__

# Ignore image files
*.jpg
*.png

# Duplicate files ignored
Camera_Stoplight.py
'Line Following and stop detect'
new_camera.py
